<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Appname" value="Liyanjie.DesktopWebHost" />
        <add key="Startup" value="WebApplication.dll,WebApplication.Startup" />
        <add key="Urls" value="http://localhost:12345" />
    </appSettings>
</configuration>